alembic
bcrypt
blinker
certifi
click
colorama
et_xmlfile
Faker
Flask
Flask-Bcrypt
flask-cors
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
geopandas
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
openpyxl
packaging
pandas
psycopg2-binary
pyogrio
pyproj
python-dateutil
python-dotenv
pytz
shapely
six
SQLAlchemy
typing_extensions
tzdata
watchdog
Werkzeug
dotenv
psycopg2-binary